<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>team-players</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div style="    display: flex;
justify-content: space-between;     border: 1px solid;
    margin: 6px;">
  <ion-input label="Enter Player Name"  [(ngModel)]="new_player_name"></ion-input>
  <ion-button (click)="addNewPlayer()">Add New Player</ion-button>
</div>
<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col >
     <ion-label> Name </ion-label>
    </ion-col>
    <ion-col>
      <ion-label> Runs </ion-label>
    </ion-col>
    <ion-col>
      <ion-label> Wickets </ion-label>
    </ion-col>
    <ion-col>
      <ion-label> Action </ion-label>
    </ion-col>
  </ion-row>

    <ion-row  *ngFor="let player of players;" class="ion-align-items-center">
      <ion-col >
        <ion-input (ionBlur)="updatePlayer($event,player,'name')" [value]="player.data.name"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input (ionBlur)="updatePlayer($event,player,'score')" [value]="player.data.score"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input (ionBlur)="updatePlayer($event,player,'wickets')" [value]="player.data.wickets"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button (click)="removePlayerFromTeam(player)">Remove</ion-button>
      </ion-col>
    </ion-row>


</ion-grid>
</ion-content>
