
ion-grid{
    border-right: 1px solid #aeb7ca;
    border-bottom: 1px solid #aeb7ca;
    ion-col {
        border-left: 1px solid #aeb7ca;
        border-top: 1px solid #aeb7ca;
        border-top: 1px solid #aeb7ca;
      }
}
