
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-icon style="    font-size: 26px;
        padding: 0px 10px;" name="menu-outline"></ion-icon>
      </ion-menu-toggle>
      <ion-title>Players</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card  (click)="toggleAction('add')">
      <ion-card-header>
        <ion-card-subtitle class="create"><span>Create Player</span>
          <ion-icon name="add"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-list>
      <ion-card *ngFor="let player of players" (click)="toggleActionSheet(player)">
        <ion-card-header>
          <ion-card-title>{{player.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
    <ion-alert 
    [isOpen]="isAlertOpen"
    trigger="create-player-alert" header="Create Player" [buttons]="alertButtons"
      [inputs]="alertInputs" 
      (didPresent)="onAlertPresent($event)"
      (didDismiss)=onAlertDismiss($event)>
    </ion-alert>
    <ion-action-sheet 
    (didDismiss)="closeActionSheet($event)"
    [isOpen]="isSheetOpen" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-content>
