
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-icon style="    font-size: 26px;
        padding: 0px 10px;" name="menu-outline"></ion-icon>
      </ion-menu-toggle>
      <ion-title>Players</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card id="create-player-alert">
      <ion-card-header>
        <ion-card-subtitle class="create"><span>Create Player</span>
          <ion-icon name="add"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-list>
      <ion-card *ngFor="let player of players">
        <ion-card-header>
          <ion-card-title>{{player.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-list>
    <ion-alert trigger="create-player-alert" header="Create Player" [buttons]="alertButtons"
      [inputs]="alertInputs" (didDismiss)=onAlertDismiss($event)></ion-alert>
  </ion-content>
