<div class="player-card" *ngIf="player.data | hs as stats">
  <ion-grid >
    <ion-row class="header">
      <ion-col size="7">
        <div class="name">{{player.data.name}}</div>
      </ion-col>
      <ion-col size="5" class="info">
        <div class="text">{{stats['hr']}} <span class="sub-text">(High Score)</span></div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="title"> 25+ Runs</div>
      </ion-col>
      <ion-col class="info" size="8">
        <div class="text">{{stats['runs_frequency']}} Hits <span class="sub-text"> (In {{stats['batting']}} Innings)</span></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div class="title"> 1+ Wicktes</div>
      </ion-col>
      <ion-col class="info" size="8">
        <div class="text">{{stats['wicktet_frequency']}} Hits <span class="sub-text"> (In {{stats['bowling']}} Innings)</span></div>
      </ion-col>
    </ion-row>


  </ion-grid>
  <div class="footer">
    <div> Runs: {{player.data.score}}</div>
    <div> Wicktes: {{player.data.wickets}}</div>
  </div>
</div>