<ion-header>
  <ion-toolbar>
    <ion-title>Dream Team</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <div >
    <div style="    display: flex;
  justify-content: space-around;align-items: center;">
      <ion-item>
        <ion-select label="Team 1" (ionChange)="onSelectTeam($event, 'team_one')" [value]="default_selected_team">
          <ion-select-option [value]="team" *ngFor="let team of teams">{{team.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div (click)="toggleTab()">
        <ion-icon style="    font-size: 24px;" name="swap-horizontal-outline"></ion-icon>
      </div>
      <ion-item>
        <ion-select label="Team 2" (ionChange)="onSelectTeam($event, 'team_two')">
          <ion-select-option [value]="team" *ngFor="let team of teams">{{team.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>


    <ng-container *ngIf="selected_team == 'team_one'">
      <div style="text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;">{{team_one_name}}</div>
    <ion-list  *ngFor="let  player of team_one_players">
      <app-player-card [player]="player">
      </app-player-card>
    </ion-list>
    </ng-container>
    <ng-container *ngIf="selected_team == 'team_two'">
      <div style="text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;">{{team_two_name}}</div>
      <ion-list>
        <ion-list  *ngFor="let  player of team_two_players">
          <app-player-card [player]="player">
          </app-player-card>
        </ion-list>
      </ion-list>
    </ng-container>
  </div>

</ion-content>