<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{team.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card id="add-player-modal">
    <ion-card-header>
      <ion-card-subtitle class="create"><span>Add Player</span>
        <ion-icon name="add"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-card *ngFor="let player of team_players; let i = index" >
      <ion-card-header>
        <ion-card-title>
          <div class="modal-list-item">
            <div>{{i+1}}. {{player.name}} </div>
            <ion-icon (click)="removePlayerFromTeam(player)" name="remove-outline"></ion-icon>
           </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

  <ion-modal trigger="add-player-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Player</ion-title>
          <ion-buttons slot="end">
            <ion-button [disabled]="search_result.length != 0" (click)="createNewPlayer()" [strong]="true">Add New</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar [(ngModel)]="search_key" (ionInput)="search()" style="    padding: 0;"  show-clear-button="always"></ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
            <ion-item *ngFor="let player of search_result"  >
              <div class="modal-list-item">
               <div>{{player.name}} </div>
               <ion-icon class="add" (click)="addPlayerInTeam(player)" *ngIf="player.current_team_id != team.id" name="add-outline"></ion-icon>
               <ion-icon class="remove" (click)="removePlayerFromTeam(player)" *ngIf="player.current_team_id == team.id" name="remove-circle"></ion-icon>
              </div>
             </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>